.nav-link {
    color: #fff !important;
}

.nav-bar{
    background: url('../../images/section-background.png');
    border-bottom: 1px solid rgba(126, 125, 125, 0.647);
}

.btnMode{
    color:linear-gredi
}